.welcome{
    text-align: center;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 20% 20% 5%;
    position: relative;
    width: 100%;
    height: 100vh;
}
body{
    color:#fff;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Luna";
  }